<%- include('partials/header', { title: '会员详情' }) %>
<%- include('partials/navbar', {basePath: basePath}) %>

<style>
    .header-image {
        background-image: url('<%= memberDetails.card_background_image %>');
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-top: 20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        max-width: 800px; /* 确保宽度与.card一致 */
        margin: auto;
        height: 200px;
    }
    .card {
        background-color: white;
        padding: 20px;
        margin-top: -50px; /* 根据需要调整这个值以正确遮盖 */
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .contact-info {
        display: flex;
        justify-content: space-between;
    }
    .contact-info .left {
        display: flex;
        flex-direction: column;
    }
    .contact-info .right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .contact-info img {
        width: 100px;
        height: auto;
    }
</style>

<div class="container mx-auto" style="max-width: 800px;">
    <div class="header-image"></div>
    <div class="card">
        <div class="contact-info">
            <div class="left">
                <p><strong><%= memberDetails.contact_name %></strong></p>
                <p><%= memberDetails.contact_position %></p>
            </div>
            <div class="right">
                <img src="<%= memberDetails.logo %>" alt="公司Logo">
                <a href="<%= memberDetails.website %>" target="_blank"><%= memberDetails.website %></a>
            </div>
        </div>
        <p><%= memberDetails.contact_phone %></p>
        <p><%= memberDetails.email %></p>
        <p><%= memberDetails.address %></p>
        <p><%= memberDetails.company_name %></p>
    </div>
    <div class="mt-4">
        <img src="<%= memberDetails.company_intro_image %>" alt="公司介绍图片" class="img-fluid">
    </div>
</div>

<%- include('partials/footer') %>